:root{
    --bg-color-icons:#F4F4FD;
    --bg-svg-color-social-link:#4D5AE5;
    --bg-svg-color-social-media:rgba(255, 255, 255, 0.1);
    --bg-svg-color-custumers:#AFB1B8;

}
.background{
    background-image: linear-gradient(rgba(46, 47, 66,0.7),
    rgba(46, 47, 66,0.7)), url("./images/header.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2E2F42;
}
.list-icons{
    display: flex;
    padding: 24px 100px;
    margin-bottom: 8px;
    background-color: var(--bg-color-icons);
}
.social-link-list{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--bg-svg-color-social-link);
}


    /* Employees */
.social-wrapper-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
   
}
.item-icon{
    padding-top: 8px;
    margin-bottom: 32px;
    
}
.social-link{
    width: 40px;
    height: 40px;
    padding: 12px 12px;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-svg-color-social-link);
}

