:root{
    --bg-color-icons:#F4F4FD;
    --bg-svg-color-social-link:#4D5AE5;
    --bg-svg-color-social-media:rgba(255, 255, 255, 0.1);
    --bg-svg-color-custumers:#AFB1B8;

}
.background{
    background-image: linear-gradient(rgba(46, 47, 66,0.7),
    rgba(46, 47, 66,0.7)), url('/images/header.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2E2F42;
}
